setuptools>=68.0.0
uuid
opencv-python==4.8.0.76
Pillow==10.0.0
ultralytics==8.0.158
pygame==2.5.2
streamlit==1.20.0
streamlit-webrtc==0.45.0
torch==2.0.1
torchvision==0.15.2
matplotlib>=3.2.2
PyYAML==6.0.1
requests>=2.23.0
scipy>=1.4.1
tqdm>=4.64.0
seaborn
pytube==15.0.0
easydict==1.13
pandas==1.5.3
numpy==1.26.0
pip==25.0.1
wheel
